#about_item001 {
  margin: 60px 20px 0 20px;
  .item_info {
    padding-top: 20px;
    swiper-container {
      swiper-slide {
        img {
          background-color: $gray-200;
          width: 100%;
          height: auto;
        }
      }
    }
    .item_txt {
      text-align: left;
      .item_main {
        padding: 15px 0;
        p {
          font-size: 12px;
          color: $gray-500;
          font-weight: lighter;
          margin-bottom: 5px;
        }
        strong {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        span {
          font-size: 12px;
          font-weight: 300;
          display: block;
          margin-bottom: 5px;
        }
        .review_txt {
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          margin-bottom: 5px;
          .review_icon {
            color: $gray-500;
            .la-star {
              color: #ffc120;
            }
          }
        }
      }
      .item_option {
        p {
          font-size: 12px;
          color: $gray-500;
          display: block;
        }
        .option_col {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 20px;
          input {
            margin: 0;
            width: 0;
            height: 0;
            padding: 0;
            display: none;
          }
          label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px 0 5px 0;
            font-size: 14px;
            width: calc(50% - 5px);
            height: 50px;
            border: 1px solid $gray-300;
            border-radius: 10px;
            &.active {
              border: 1px solid $primary;
              background-color: $primary;
              color: $white;
            }
          }
        }
      }
      .item_txt_1dept {
        text-align: left;
        border-bottom: 1px solid $gray-300;
        font-size: 13px;
        font-weight: 600;
        li {
          padding: 15px 0;
          border-top: 1px solid $gray-300;
          box-sizing: border-box;
        }
        .item_txt_2dept {
          overflow: hidden;
          opacity: 0;
          visibility: hidden;
          max-height: 0;
          transition: all 0.3s;
          font-weight: 300;
          li {
            display: block;
            border: none;
            text-align: left;
            transform: translateX(-20px);
            span {
              display: block;
            }
          }
        }

        .item_toggle:checked ~ .item_txt_2dept {
          opacity: 1;
          visibility: visible;
          max-height: 300px;
          padding: 10px 0;
        }
        .item_toggle {
          display: none;
        }
      }
      .item_order {
        margin-top: 20px;
        p {
          font-size: 13px;
        }
        .order_col {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 20px;
          .order_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px 0 5px 0;
            font-size: 15px;
            font-weight: 600;
            width: calc(50% - 5px);
            height: 50px;
            border-radius: 10px;
          }
          .order_white {
            border: 1px solid $gray-300;
          }
          .order_primary {
            border: 1px solid $primary;
            background-color: $primary;
            a {
              color: $white;
            }
          }
        }
      }
    }
  }
  .item_recommend {
    margin-top: 60px;
    margin-bottom: 70px;
    p {
      font-size: 15px;
      font-weight: 600;
    }
    .rec_col {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      .rec_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
        font-size: 13px;
        width: 30%;
        img {
          background-color: $gray-200;
          width: 100%;
        }
      }
    }
  }
  .item_details {
    strong {
      font-size: 20px;
      font-weight: bold;
    }
    span {
      font-size: 15px;
      display: block;
    }
    .details_col {
      display: flex;
      justify-content: center;
      li {
        width: 25%;
        font-size: 13px;
        height: 35px;
        &.active {
          border-bottom: 3px solid $primary;
          font-weight: 600;
        }
      }
    }

    .details_txt {
      margin: 40px 0 20px 0;
      .details_txt_col {
        margin-bottom: 100px;
        .details_txt_box {
          margin-top: 30px;
          img {
            width: 70%;
          }
          .details_txt_more {
            span {
              font-family: "Newyork";
              font-size: 18px;
            }
          }
        }
      }
    }
    .details_return {
      text-align: left;
      margin: 40px 0 100px 0;
      span {
        margin-bottom: 20px;
      }
    }
    .details_review {
      margin: 40px 0 100px 0;
      .dropdown {
        text-align: right;
        margin: 10px 0 20px 0;
        .dropdown_btn {
          height: 30px;
          width: 100px;
          font-family: "Pretendard";
          font-size: 13px;
          border: 1px solid $gray-400;
          border-radius: 3px;
          background: $white;
        }
      }
      .details_review_box {
        text-align: left;
        .review_tit {
          font-size: 16px;
          padding-top: 20px;
        }
        .review_type {
          display: flex;
          margin: 10px 0 10px 0;
          .type_tit {
            font-weight: 600;
            font-size: 12px;
            margin-right: 5px;
          }
          .type_data {
            font-weight: 300;
            font-size: 12px;
            margin-right: 10px;
          }
        }
        .review_all {
          &.clamped {
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
        .read-more-btn {
          font-size: 15px;
          color: $gray-600;
        }
        .review_date {
          margin-top: 20px;
          margin-bottom: 30px;
          font-size: 12px;
        }
      }
    }
    .details_qna {
      margin: 40px 0 100px 0;
      strong {
        margin-bottom: 20px;
      }
      .details_qna_box {
        text-align: left;
        margin-top: 20px;
        .qna_tit {
          font-size: 16px;
          padding-top: 20px;
        }

        .review_date {
          margin-top: 20px;
          margin-bottom: 30px;
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  #about_item001 {
    margin: 100px 200px 0px 200px;
    .item_info {
      display: flex;
      align-items: flex-end;
      .mySwiper {
        display: none;
      }

      .swiper_box {
        display: flex;
        flex-direction: column;
        width: 50%;

        .mySwiper2 {
          width: 100%;
          position: relative;
        }

        .mySwiper3 {
          margin-top: 20px;
          width: 20%;
          position: absolute;
          margin-left: 20px;
          swiper-slide {
            img {
              background-color: #fff;
            }
          }
          .swiper-slide-thumb-active {
            img {
              border-bottom: 3px solid $primary;
            }
          }
        }
      }
      .item_txt {
        width: 50%;
        padding-left: 40px;
        .item_main {
          p {
            font-size: 15px;
          }
          strong {
            font-size: 40px;
          }
          span {
            font-size: 18px;
          }
          .review_txt {
            font-size: 15px;
          }
        }
        .item_option {
          p {
            font-size: 15px;
          }
          .option_col {
            label {
              font-size: 18px;
            }
          }
        }
        .item_txt_1dept {
          font-size: 15px;
        }
        .item_order {
          p {
            font-size: 15px;
          }
          .order_col {
            margin-bottom: 0;
            .order_box {
              font-size: 20px;
            }
          }
        }
      }
    }
    .item_recommend {
      margin-top: 150px;
      margin-bottom: 150px;
      p {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      .rec_col {
        .rec_box {
          font-size: 20px;
          img {
            width: 100%;
            height: 100%;
          }
          span {
            margin-top: 20px;
          }
        }
      }
    }
    .item_details {
      margin-bottom: 150px;
      .details_col {
        display: flex;
        justify-content: center;
        li {
          width: 25%;
          font-size: 18px;
          height: 35px;
          &.active {
            border-bottom: 3px solid $primary;
            font-weight: 600;
          }
        }
      }

      .details_txt {
        margin: 80px 0 20px 0;
        strong {
          font-size: 35px;
        }
        .details_tit {
          font-size: 18px;
          margin-bottom: 30px;
        }
        .details_txt_col {
          display: flex;
          justify-content: center;
          width: 80%;
          margin: 0 auto;
          .details_txt_box {
            margin: 0 auto;
            img {
              margin-bottom: 20px;
            }
            .details_txt_more {
              span {
                font-family: "Newyork";
                font-size: 25px;
              }
              p {
                font-size: 20px;
              }
            }
          }
        }
      }
      .details_return {
        text-align: left;
        margin: 80px 0 20px 0;
        strong {
          font-size: 20px;
        }
        span {
          margin-bottom: 20px;
          font-size: 16px;
        }
      }
      .details_review {
        margin: 80px 0 20px 0;
        strong {
          font-size: 35px;
        }
        .dropdown {
          .dropdown_btn {
            font-size: 15px;
          }
        }
        .details_review_box {
          .review_tit {
            font-size: 25px;
            padding-top: 20px;
          }
          .review_type {
            .type_tit {
              font-size: 15px;
            }
            .type_data {
              font-size: 15px;
            }
          }
          .read-more-btn {
            font-size: 18px;
          }
          .review_date {
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 15px;
          }
        }
      }
      .details_qna {
        margin: 80px 0 20px 0;
        strong {
          font-size: 35px;
          margin-bottom: 20px;
        }
        .details_qna_box {
          text-align: left;
          margin-top: 20px;
          .qna_tit {
            font-size: 25px;
            padding-top: 20px;
          }
          .review_date {
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
