#bestitem {
  margin: 60px 20px 0 20px;
  h2 {
    font-family: "Newyork";
    font-size: 20px;
    padding: 30px 0;
  }
  .category {
    swiper-container {
      padding-bottom: 20px;
      swiper-slide {
        height: 30px;
        font-size: 13px;
        &.active {
          border-bottom: 2px solid $primary;
          font-weight: 600;
        }
      }
    }
  }
  .category_1280 {
    display: none;
  }
  .dropdown {
    text-align: right;
    .dropdown_btn {
      height: 30px;
      width: 100px;
      font-family: "Pretendard";
      font-size: 13px;
      border: 1px solid $gray-400;
      border-radius: 3px;
      background: $white;
    }
  }
  .item {
    margin: 30px 0;
    margin-bottom: 100px;
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
      gap: 60px;
      li {
        margin: 0;
        a {
          img {
            background-color: $gray-200;
            width: 200px;
            margin: 30px 0 20px 0;
          }
          strong {
            display: block;
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 10px;
          }
          p {
            font-size: 13px;
            font-weight: 300;
            color: $gray-500;
            margin-bottom: 10px;
          }
          span {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  #bestitem {
    margin: 100px 200px 0px 200px;
    h2 {
      font-size: 35px;
    }
    .category {
      display: none;
    }
    .category_1280 {
      display: inline;
      .category_list {
        display: flex;
        gap: 50px;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        height: 70px;
        li {
          width: 130px;
          height: 35px;
          &.active {
            border-bottom: 3px solid $primary;
            font-weight: 600;
          }
        }
      }
    }
    .dropdown {
      .dropdown_btn {
        height: 40px;
        width: 120px;
        font-family: "Pretendard";
        font-size: 15px;
        border: 1px solid $gray-400;
        border-radius: 3px;
      }
    }
    .item {
      margin: 30px 0;
      margin-bottom: 160px;
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 60px;
        li {
          a {
            img {
              width: 300px;
            }
            strong {
              font-size: 23px;
            }
            p {
              font-size: 16px;
            }
            span {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
