#mypage {
  margin: 60px 20px;
  height: calc(100vh - $hd-height - $ft-height);
  h2 {
    font-family: "Newyork";
    font-size: 20px;
    padding: 30px 0;
  }

  .mypage_col {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    li {
      width: 33.3333%;
      font-size: 13px;
      height: 35px;
      &.active {
        border-bottom: 3px solid $primary;
        font-weight: 600;
      }
    }
  }
  .mypage_main {
    .mypage_name {
      display: flex;
      justify-content: space-between;
    }
    .cou_pt {
      display: flex;
      text-align: left;
      padding-bottom: 20px;
      border-bottom: 1px solid $gray-200;
    }
    .cou_pt dt {
      margin-right: 5px;
    }
    .logout {
      background-color: #326b36;
      border-radius: 10px;
      font-family: "Pretendard";
      padding: 3px 7px;
      a {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
      }
    }
    .mypage_list {
      margin-top: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
      li {
        width: calc(50% - 20px);
        text-align: left;
        margin-bottom: 10px;
        padding: 0 10px;
        box-sizing: border-box;
      }
    }
    .mypage_ex {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      li {
        margin-right: 20px;
      }
    }
  }
  .mypage_info {
    dt {
      font-weight: 600;
      padding: 10px 0;
    }
    li a {
      padding-top: 40px;
      border: none;
      background-color: #fff;
      font-weight: 500;
    }
  }
}

@media (min-width: 1280px) {
  #mypage {
    margin: 100px auto 0;
    width: 900px;
    height: calc(100vh - 350px);
    h2 {
      font-size: 35px;
    }
    .mypage_col li {
      font-size: 18px;
    }
    .mypage_name .my_ov_name {
      font-size: 20px;
    }
    .mypage_main .mypage_list {
      li {
        width: 15%;
        font-size: 16px;
      }
    }
  }
}
