#sub2 {
  margin: 60px 20px 0 20px;
  h2 {
    font-family: "Newyork";
    font-size: 20px;
    padding: 30px 0;
  }
  .item_info {
    padding-top: 20px;
    swiper-container {
      swiper-slide {
        img {
          background-color: $gray-200;
          width: 100%;
          height: auto;
        }
      }
    }
    .item_txt {
      text-align: left;
    }
  }
}
