#main_sub1 {
  margin-top: 60px;
  margin: 60px 20px 0 20px;
  h2 {
    font-family: "Newyork";
    font-size: 20px;
    padding: 30px 0;
  }

  .category {
    swiper-container {
      padding-bottom: 20px;
      margin-bottom: 10px;
      swiper-slide {
        height: 30px;
        font-size: 13px;
        &.active {
          border-bottom: 2px solid $primary;
          font-weight: 600;
        }
      }
    }
  }
}
